.detail_page_container {
  padding-top: 10px;
}
.container {
  width: 95%;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 30px;
  background: white;
  border-radius: 20px;
  min-width: 600px;

  @media screen and (min-width: 1024px) {
    width: 1000px;
  }
}

.post_header {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding-left: 30px;

  p {
    color: #222831;
    font-size: 14px;
    font-weight: 600;
  }
}

.post_user {
  margin-left: 30px;
}
.post_date {
  margin-left: 40px;
}

.post_activate {
  margin: 10px;
}

.post_contents {
  padding: 16px;
}

.post_comments {
  padding: 16px;
}

.post_activate {
  margin-left: 40px;
  display: flex;
  > div {
    margin-right: 10px;
  }
}
